.LogInLink{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background-color: #D93900;
    border-radius: 999px;
    border: 0.0625rem solid transparent;
    height: 2.5rem;
    color: white;
    font: normal 600 0.875rem/1.25rem 'Segoe UI','Helvetica Neue',Arial,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;

}
.LogInLink:hover{
    background-color: #AE2C00;
    cursor: pointer;
}